<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Amadon Shopping Mall</h1>
    <table>
        <thead>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </thead>
        {% for product in products %}
        <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ product.price.original_price }}
                <form action="/orderprocess/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{product.product_code}}">
            </td>
            <td>
                <select name="quantity">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </td>
            <td>
                <button>Buy</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>